# Node.js (Frontend)
node_modules/
.pnpm-store/
dist/
.vite/

# Java (Backend)
liturgia-backend/target/
*.log
*.class

# Entornos virtuales y configuración
.env
.DS_Store
/uploads/
/.idea/
/.vscode/
/liturgia-backend/src/main/resources/application.properties
